manifest {
  author = "Preecha Patumcharoenpol".split(" ")[1]
}

params {
  help = false
  fwdprimerlen = 20
  revprimerlen = 24
  fwdlen = 250
  revlen = 240
  fwdprimer = "CCTACGGGNGGCWGCAG"
  revprimer = "GACTACHVGGGTATCTAATCC"
  dada {
	pool = "pseudo"
	chimera_alg = "consensus"
	chimera_fol = 1.0
  }
  refseq = "../minbreeze-res/qiime2020.2/gg99_seq.qza"
  reftax = "../minbreeze-res/qiime2020.2/gg99_tax.qza"
  modeltax = "../minbreeze-res/qiime2020.2/gg99_138_314f-805r_classifier.qza"
  modeltree = "../minbreeze-res/qiime2020.2/sepp-refs-gg-13-8.qza"
}

env {
	JOBLIB_TEMP_FOLDER="/state/partition9/home/yumyai/tmp"
	TMPDIR="/state/partition9/home/yumyai/tmp"
	NXF_VER="20.01.0"
}

// CPU && Mem usage
process {
  cpus = 1
  mem = 4.GB

  withLabel: big_cpu {
    cpus = 10
    memory = 16.GB
  }
  withLabel: med_cpu {
    cpus = 10
    memory = 16.GB
  }
  withLabel: big_mem {
    cpus = 1
    memory = 16.GB
  }
}

profiles {
  standard {
    process.executor = 'local'
  }
  pbs {
    process {
        executor = 'pbs'
    }
  }
  conda {
    process.conda = "${baseDir}/envs/minflow-0.2.yaml"
	process {
	  withName: asvcall_dada2 {
	    conda = "${baseDir}/envs/dada2.yaml"
	  }
	}
  }
  test {
    params {
      inputdir = "$baseDir/testdata/"
      fqpattern = "*_R{1,2}_001.fastq.gz"
      outputdir = "${launchDir}/testout"
      manifest = "$baseDir/testdata/manifest.tsv"
    }
  }
}

// vi: ft=groovy
