manifest {
  author = "Preecha Patumcharoenpol".split(" ")[1]
  nextflowVersion = ">=20.10.0"
  version = '0.1.0'
}

params {
  input = "input.csv"
  single_end = false
  help = false
  dada {
	pool = "pseudo"
	chimera_alg = "consensus"
	chimera_fol = 2.0
  }
  enable_conda = false

// gg-13-8-99-515-806-nb-classifier.qza
// gg-13-8-99-515-806-nb-weighted-classifier.qza
// gg-13-8-99-nb-classifier.qza
// gg-13-8-99-nb-weighted-classifier.qza
// sepp-refs-gg-13-8.qza
// sepp-refs-silva-128.qza
// silva-138-99-515-806-nb-classifier.qza
// silva-138-99-nb-classifier.qza
// silva-138-99-nb-weighted-classifier.qza
// silva-138-99-seqs-515-806.qza
// silva-138-99-seqs.qza
// silva-138-99-tax-515-806.qza
// silva-138-99-tax.qza

// For BLAST
//  blastrefseq = "s3://qiime2-data/2021.8/common/"
//  blastreftax = "s3://qiime2-data/2021.8/common/"
// For NBclassiffier
  modeltax = "s3://qiime2-data/2021.8/common/silva-138-99-nb-classifier.qza"
  //modeltax = "s3://qiime2-data/2021.8/common/gg-13-8-99-nb-classifier.qza"
// For tree classifier
  sepp_tree = "s3://qiime2-data/2021.8/common/sepp-refs-silva-128.qza"
}

// Defaults
docker.enabled         = false
singularity.enabled    = false
podman.enabled         = false
shifter.enabled        = false

profiles {
  local {
    process.executor = 'local'
  }
  pbspro {
	// CPU && Mem usage
	process {
        executor = 'pbspro'
		cpus = 2
		mem = 8.GB

		withName: dada2_single {
			cpus = 40
			memory = 64.GB
			time = "24:00:00"
		}
		withName: dada2_pair {
			cpus = 40
			memory = 64.GB
			time = "24:00:00"
		}

// Generic
		withLabel: process_medium {
			cpus = 30 
			memory = 32.GB
		}

		withLabel: memory_medium {
			cpus = 16 
			memory = 64.GB
		}

		withLabel: big_mem {
			cpus = 20 
			memory = 256.GB
		}
	}
  }

  conda {
    conda.cacheDir = "$HOME/.sysmiome/minflow/cache/conda"
    params.enable_conda = true
    useMamba = true
    process.conda = "${projectDir}/envs/minflow.yaml"
	process {
	  withLabel: qiime2 {
	    conda = "${projectDir}/envs/qiime2-2021.8-py38-linux-conda.yml"
	  }
	}
  }

  singularity {
	singularity.enabled = true
	singularity.cacheDir = "$HOME/.sysmiome/minflow/cache/singularity"
	singularity.autoMounts = true
	process {
	  withLabel: qiime2 {
	    container = "quay.io/qiime2/core:2021.8"
	  }
	}
  }
  test {
    params {
      input = "testdata/test_minimal.csv"
	  trimfront1 = 17
	  trimfront2 = 21
      trimtail1 = 0 // 10
      trimtail2 = 0 // 15
      qc = true
      minOverlap = 12
      outputdir = "${launchDir}/testout"
      sepp_tree = "s3://qiime2-data/2021.8/common/sepp-refs-silva-128.qza"
    }
  }
}

// vi: ft=groovy
