manifest {
  author = "Preecha Patumcharoenpol".split(" ")[1]
  nextflowVersion = ">=22.04.0"
  version = '0.0.0-dev'
}

// Example configuration
params {

  help = false
  // Input/ Output options
  input = "input.csv"

  // Sequence handling
  single_end = false
  dada {
	pool = "pseudo"
	chimera_alg = "consensus"
	chimera_fol = 2.0
  }
  trimfront1 = 17
  trimfront2 = 21
  trimtail1 = 0
  trimtail2 = 0
  qc = true
  minOverlap = 12

// References
// For NBclassiffier
  modeltax = "https://data.qiime2.org/2021.8/common/silva-138-99-nb-classifier.qza"
  SKIP_SEQCLAS = false
// For blast
//  blastrefseq = "s3://qiime2-data/2021.8/common/"
//  blastreftax = "s3://qiime2-data/2021.8/common/"

// Tree
  sepp_tree = "https://data.qiime2.org/2021.8/common/sepp-refs-silva-128.qza"
  SKIP_NWKTREE = false

// Functional
  SKIP_FUNCLAS = false
}

// Default cache directory
profiles {

  local {
    process.executor = 'local'
  }

  conda {
    conda.enabled  = true
    useMamba       = true
    conda.cacheDir = "$HOME/.sysmiome/minflow/cache/conda"
    process.conda  = "${projectDir}/envs/minflow.yaml"
	process {
	  withLabel: qiime2 {
	    conda = "${projectDir}/envs/qiime2-2021.8-py38-linux-conda.yml"
	  }
	}
  }

  singularity {
    conda.enabled          = false
	singularity.enabled    = true
	singularity.cacheDir   = "$HOME/.sysmiome/minflow/cache/singularity"
	singularity.autoMounts = true
	process {
	  withLabel: qiime2 {
	    container = "quay.io/qiime2/core:2021.8"
	  }
	}
  }

  sysbiomics { includeConfig 'conf/sysbiomics.config' }
  test       { includeConfig 'conf/test.config'       }
}

// vi: ft=groovy
