process {

	executor = 'pbspro'
	cpus = 2
	mem = 8.GB

	withName: dada2_single {
		cpus = 40
		memory = 64.GB
		time = "24:00:00"
	}
	withName: dada2_pair {
		cpus = 40
		memory = 64.GB
		time = "24:00:00"
	}

	withLabel: process_medium {
		cpus = 30 
		memory = 32.GB
	}

	withLabel: memory_medium {
		cpus = 16 
		memory = 64.GB
	}

	withLabel: memory_high {
		cpus = 20 
		memory = 256.GB
	}
}

// vi: ft=groovy
